Part 1: Upsample and Downsample

In [3]:
import pandas as pd
import numpy as np

np.random.seed(42)

Making sample size for class 0 (900) and class 1 (100)

In [4]:
n_samples = 1000

class_0_ration = 0.9
class_0 = int(n_samples * class_0_ration)
class_1 = n_samples - class_0
class_0, class_1

(900, 100)

for np.random.normal(): https://numpy.org/doc/2.1/reference/random/generated/numpy.random.normal.html

Making data frame using pandas and numpy

In [5]:
df_class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=class_0),
    'label': 0
})

df_class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=1, scale=1, size=class_1),
    'feature_2': np.random.normal(loc=1, scale=1, size=class_1),
    'label': 1
})
df_class_0.shape, df_class_1.shape

((900, 3), (100, 3))

Combining two dataset

In [17]:
df = pd.concat([df_class_0, df_class_1], ignore_index=True)
# df = pd.concat([df_class_0, df_class_1]).reset_index(drop=True)
df.sample(5), df.head(5)

(     feature_1  feature_2  label
 131   0.068563  -1.668584      0
 528   0.259723  -0.221254      0
 915   0.108808   0.457326      1
 376   0.872321   2.319330      0
 110  -1.918771   1.317394      0,
    feature_1  feature_2  label
 0   0.496714   0.368673      0
 1  -0.138264  -0.393339      0
 2   0.647689   0.028745      0
 3   1.523030   1.278452      0
 4  -0.234153   0.191099      0)

In [11]:
# get unique labels
df['label'].unique(), df['label'].value_counts()

(array([0, 1]),
 label
 0    900
 1    100
 Name: count, dtype: int64)

Now split majority and minority

In [19]:
df_majority = df[df['label'] == 0]
df_minority = df[df['label'] == 1]
len(df_majority), len(df_minority)

(900, 100)

the resample() function inside sklearn.utils, so importing this library

In [20]:
from sklearn.utils import resample

upsample

In [26]:
df_upsample_minority = resample(
    df_minority,
    replace = True,  
    n_samples = len(df_majority)
)

In [24]:
df_upsample_minority

     feature_1  feature_2  label
956   2.392465  -1.135674      1
948   1.969457   2.126050      1
947   0.133825   0.970737      1
971   0.785079  -1.940389      1
948   1.969457   2.126050      1
..         ...        ...    ...
977   0.790778   1.947526      1
961   1.810808   1.285554      1
934   0.387563   3.644343      1
912   2.612221   1.638051      1
934   0.387563   3.644343      1

[900 rows x 3 columns]

down sample

In [25]:
df_downsample_majority = resample(
    df_majority,
    replace = False,  # sample with replacement
    n_samples = len(df_minority)
)
df_downsample_majority

     feature_1  feature_2  label
516   0.500917   0.057013      0
529  -0.904317  -0.276813      0
809  -0.894607  -0.974529      0
337  -0.321386  -0.553588      0
457  -1.035242   0.391804      0
..         ...        ...    ...
224  -0.471932   1.633432      0
414   0.332314   0.010353      0
763  -0.096060  -0.607822      0
13   -1.913280   1.577453      0
89    0.513267   0.026886      0

[100 rows x 3 columns]

We make upsample for minority data and downsample for majority data to understand how it works.